html {
  background-color: Beige;
}

footer {
  background-color: burlywood;
  padding: 24px;
  /*Just this new line */
}

body {
  margin: 0;
}

header {
  padding: 24px;
}

.book-cover {
  width: 200px;
  height: auto;
}

.main-page-book-review {
  background-color: white;
  border: 1px solid lightblue;
  padding: 24px;
}

main {
  max-width: 800px;
  margin: auto;
}

.book-rating {
  font-size: 125%;
}

.book-author {
  color:dimgray;
}
